extends ../_layout
block content        
        div(class="card-panel")
          div(class="row valign-wrapper")
            div(class="col s2")
              img(class="responsive-img" src=otherUser.pictureUrl alt="") 
              center=otherUser.username
            div(class="col s10")
              div(class="card small")     
                div(class="card-content")
                        div(class="col s6")
                            small="Email: " + otherUser.email
                            br  
                            small="PhoneNumber: " + otherUser.phoneNumber
                            br 
                        div(class="col s6")
                            a(href="/send-message/"+otherUser.username) Send a message     
                        div(class="col s12")        
                            if otherUser.adverts
                                p Adverts
                                each advert in otherUser.adverts
                                        div(class="content")
                                            div(class="section")
                                                a(href="/adverts/"+advert.id) #{advert.title}
                                            div(class="divider")                                           
                            else
                                h5=otherUser.username + "has no adverts yet!"    
                                         
                                        