extends ../_layout
block content
    a(href="/adverts") Go back to all adverts

    div.col.s12.m7
        h4.header= advert.title
        div.card.horizontal.medium
            div.card-image
                img.responsive-img(src=advert.vehicle.vehiclePicture[0] height="100" width="100")
            div.card-stacked
                div.card-content
                    div.row
                        div.col.s6  
                            p Price:
                                bold= advert.vehicle.price + 'lv'
                            p City:
                                bold= advert.location
                            p Manufacturer: 
                                bold= advert.vehicle.manufacturer
                            p Color: 
                                bold= advert.vehicle.color
                        div.col.s6            
                            p Mileage:
                                bold= advert.vehicle.mileage
                            p ManufactureDate:
                                bold= advert.vehicle.manufactureDate
                            p Transmission:
                                bold= advert.vehicle.transmission
                            p FuelType:
                                bold= advert.vehicle.fuelType
                    div.row
                        div.col.s6            
                            p Description:
                                bold= advert.description
                            p Posted by:
                                a(href="/users/"+advert.postedBy.username)=advert.postedBy.username 
                            p Posted on: 
                                bold=advert.postedOn
                            if advert.comments.length
                                p Here are the comments
                            else
                                p No comments
                        div.col.s6
                            form(name="addComment" method="post" class="col s12")
                                div(class="input-field col s12")
                                    textarea(id="comment" name="comment" class="materialize-textarea")
                                    label(for="comment" class="active") Write your comment!
                                button(type="submit" class="waves-effect waves-dark btn right") Comment!
                                    i(class="material-icons tiny right") play_arrow
                                
                                 
                    
                