extends ../_layout
block content
    div(class="collection")
        each advert in adverts
            div(class="row")
                div(class="col s12 m7")
                    div(class="divider")
                    div(class="section")
                        h5(class="header")= advert.title
                    div(class="divider")
                    div(class="section")
                        div(class="card horizontal small hoverable")
                            div(class="card-image")
                                img(class="responsive-img" src=advert.vehicle.vehiclePicture[0])
                            div(class="card-stacked")
                                div(class="card-content")
                                    p="Manufacturer: " +  advert.vehicle.manufacturer
                                    p="Price: " + advert.vehicle.price + 'lv'
                                    p="Location: " + advert.location 
                                    
                                div(class="card-action")
                                    a(href='/adverts/'+advert._id) advert-details.pug
                
        ul(class="pagination center")
            li(class="disabled")
                a(href="#!")
                i(class="material-icons") chevron_left
            li(class="waves-effect")
                a(href="#!")
                i(class="material-icons") chevron_right