extends ../_layout
block content
    a(href="/adverts" class="waves-effect waves-teal btn-flat") Go back to all adverts
        i(class="material-icons left") keyboard_return
    div(class="col s12 m7")
        div(class="divider")
        div(class="section")
            h5(class="header")= advert.title
        div(class="divider")
        div(class="section")
        div(class="card horizontal meduim")
            div(class="card-image")
                img(class="responsive-img" src=advert.vehicle.vehiclePicture[0])
            div(class="card-stacked")
                div(class="card-content")
                    div(class="row")
                        div(class="col s4") 
                            p="Price: " + advert.vehicle.price + 'lv'     
                            p="City: " +  advert.location    
                            p="Manufacturer: " + advert.vehicle.manufacturer     
                            p="Color: " + advert.vehicle.color
                        div(class="col s4")          
                            p="Mileage: " + advert.vehicle.mileage
                            p="Manufacture date: " + advert.vehicle.manufactureDate
                            p="Transmission: " + advert.vehicle.transmission
                            p="Fuel type: " +  advert.vehicle.fuelType
                        div(class="col s4")            
                            p="Description: " + advert.description   
                            strong="Posted by: " 
                            a(href="/users/"+ advert.postedBy.username)=advert.postedBy.username
                            
                            p="On: " + advert.postedOn  
                    div(class="row")
                        div(class="input-filed s6 offset-6")
                            form(method="post" name="commentForm")
                                label(for="comment" class="active") Write a comment!
                                textarea(class="materialize-textarea" id="comment" name="comment")
                                button(type="submit" class="waves-effect btn right") Send
                                    i(class="material-icons tiny right") play_arrow
        
        if !advert.comments
            div(class="row")
                div(class="col s12")
                    p This advert has no comments yet!
        else
            div(class="row")
                div(class="col s12")
                    div(class="card")
                        each comment in advert.comments
                            div(class="card-content")
                                div(class="divider")
                                
                                div(class="section")
                                    p="User " +comment.username + " " + "commented: "
                                div(class="divider")
                                div(class="section")
                                    span(class="teal-text text-teal-darken-2")=comment.content
                                                                
                                           
                    
                