extends _layout
block content
    a(href="/adverts") Go back to all adverts

    div.col.s12.m7
        h4.header= result.title
        div.card.horizontal
            div.card-image
                img.responsive-img(src='' + result.vehicle.vehiclePicture[0] height="100" width="100")
            div.card-stacked
                div.card-content  
                    p Price: 
                        bold= result.vehicle.price + 'лв'
                    p City:
                        bold= result.location
                    p Manufacturer: 
                        bold= result.vehicle.manufacturer
                    p Color: 
                        bold= result.vehicle.color
                    p Mileage:
                        bold= result.vehicle.mileage
                    p ManufactureDate:
                        bold= result.vehicle.manufactureDate
                    p Transmission:
                        bold= result.vehicle.transmission
                    p FuelType:
                        bold= result.vehicle.fuelType
                    p Description:
                        bold= result.description
                    
                