extends ../_layout
block content
    if user.messages
    each message in messages
        div(class="row")
            div(class="card z-depth-4")
                div(class="card-content")
                    h5(class="header")= message.title
                    div(class="divider")
                    div(class="section")
                        div(class="content")= message.content
                        strong From 
                        a(href="users/"+message.from)=message.from
                        br
                        strong To  
                        bold=message.to
                        br
                        strong On   
                        bold=message.date
    else
        div(class="row")
                div(class="card z-depth-4")
                    div(class="card-content")                           
                        h5 You have no messages yet!               